.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #b8adfc, #e0ddfc);
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    /*-fx-background-color:  #6a5acd;*/
    -fx-text-background-color: #5939e5;
}

.table-row-cell:even{
    -fx-background-color: #9f93ee;
    -fx-padding: 0.0em;
}
.table-row-cell:odd{
    -fx-background-color: #bbb1f3;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom,  #6a5acd,  #a094ef);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right,  #6a5acd, #a094ef);
}

.split-pane-divider {
    -fx-padding: 0.7px ;
}

.dbutton:hover {
    -fx-effect: dropshadow( gaussian , rgba(73, 71, 71, 0.7), 10,0,0,1 );
    -fx-cursor: hand;
}

.dbutton:pressed{
    -fx-font-weight: bold;
}

.text-field:hover{
    -fx-cursor: text;
    -fx-effect: dropshadow( gaussian , rgba(73, 71, 71, 0.7), 10,0,0,1 );
}

.text-field1:focused{
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 1.5px;
}

.text-field2:focused{
    -fx-border-radius: 70px;
    -fx-border-color: #484091;
    -fx-border-width: 1.5px;
}

.date-picker2:focused{
    -fx-border-color: #a197fa;
    -fx-border-radius: 2px;
}

.button:hover{
    -fx-effect: dropshadow( gaussian , rgba(73, 71, 71, 0.7), 10,0,0,1 );
    -fx-cursor: hand;
}

.mbutton:hover{
    -fx-text-fill: white;
}

.chart{
    -fx-background-color: white;
}

.chart-pie:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.chart-pie-label:hover{
    -fx-font-size: 14px;
}


.bchart{
    -fx-background-color: white;
}

.chart-bar{
    -fx-background-radius: 5 5 0 0;
}

.chart-bar:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker > .arrow-button {
    -fx-background-image: url("calendar.png");
    -fx-background-size: 80% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2 center;
    -fx-background-color: white;
}

.date-picker > .arrow-button:hover{
    -fx-effect: dropshadow( gaussian , rgba(73, 71, 71, 0.7), 10,0,0,1 );
    -fx-cursor: hand;
}


.date-pickertrans > .arrow-button {
    -fx-background-image: url("calendar.png");
    -fx-background-size: 65% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: white;
}

.combo-box{
    -fx-background-color: #6a5acd;
    -fx-background-radius: 10;
}

.combo-box:hover{
    -fx-effect: dropshadow( gaussian , rgba(73, 71, 71, 0.7), 10,0,0,1 );
}

.combo-box > .arrow-button > *{
    -fx-opacity: 0;
}

.combo-box > .arrow-button {
    -fx-background-image: url("arrow.png");
    -fx-background-size: 35% 35%; /* Can be `cover` or `100% 100%` ect. */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; /* Put the icon in the center */
}

